body {
  color: $text-color;
  background-color: #ffffff;
  padding-top: 56px;
  font-size: 16px;
  font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "ヒラギノ角ゴシック", YuGothic,
    "Yu Gothic", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  @include dark {
    color: #fcfcfc;
    background-color: #292929;
  }
}

p {
  font-size: $font-size-m;
}

h1 {
  font-size: $font-size-l4;
}

h2 {
  font-size: $font-size-l3;
}

h3 {
  font-size: $font-size-l1;
}

figcaption {
  font-size: $font-size-s2;
}
