html {
  font-family: Quicksand, -apple-system, BlinkMacSystemFont, "Hiragino Sans",
    "ヒラギノ角ゴシック", Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}
body {
  color: $text-color;
  background-color: #ffffff;
  padding-top: $header-h;
  font-family: Quicksand, -apple-system, BlinkMacSystemFont, "Hiragino Sans",
    "ヒラギノ角ゴシック", Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  text-align: justify;
  @include dark {
    color: darken(#fcfcfc, 10%);
    background-color: #292929;
  }
}

p {
  font-size: $font-size-m;
}

h1 {
  font-size: $font-size-l4;
}

h2 {
  font-size: $font-size-l3;
}

h3 {
  font-size: $font-size-l1;
}

figcaption {
  font-size: $font-size-s2;
}

/* dark-theme img style */
@include dark {
  img {
    filter: brightness(0.85);
  }
}
