.content-title {
  position: relative;
  margin-bottom: 48px;
  &::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 64px;
    height: 4px;
    border-radius: 2px;
    background-color: #acb6e5;
  }
}

.rich-text pre {
  padding: 1.3rem;
  color: #fcfcfc;
  background-color: #23241f;
  border-radius: calc(1rem / 2.4);
  overflow-x: auto;
  margin-left: calc(-1rem / 2.4);
  @media (prefers-color-scheme: dark) {
    background-color: #333;
  }
}
