.footer {
  display: flex;
  padding: 8px 0px;
  justify-content: center;
  align-items: center;
  background-color: #292929;
  @include dark {
    border-top: solid 1px rgba($gray_color, 0.25);
  }
}
.copyright {
  color: #fcfcfc;
}
