.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-h;
  padding: 0 $padding-p-h;
  border-bottom: solid 1px rgba($gray_color, 0.25);
  background-color: rgba($background-color, 0.7);
  backdrop-filter: blur(8px);
  z-index: 1;
  @include tablet {
    padding: 0 $padding-p-h * 4;
  }
  @include raptop {
    padding: 0 $padding-p-h * 7;
  }
  @include dark {
    background-color: rgba(#292929, 0.6);
  }
}
.logo {
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.07em;
  color: $text_color;
  @include dark {
    color: #fcfcfc;
  }
  &__img {
    height: 1.6rem;
  }
}
