.header {
  display: flex;
  width: 100%;
  height: $header-h;
  padding: 0 $padding-p-h;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  border-bottom: solid 1px rgba($gray_color, 0.25);
  background-color: $background-color;
  z-index: 1;
  @include tablet {
    padding: 0 $padding-p-h * 4;
  }
  @include desktop {
    justify-content: left;
  }
  @include raptop {
    padding: 0 $padding-p-h * 7;
  }
  @include dark {
    background-color: #292929;
  }
}

.logo {
  font-size: 1.64rem;
  letter-spacing: 0.07em;
  color: $text_color;
  @include dark {
    color: #fcfcfc;
  }

  &:focus {
    color: $primary_color;
  }
}
