.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-h;
  padding: 8px $padding-p-h;
  border-bottom: solid 1px $gray_color;
  background-color: rgba(#fcfcfc, 0.7);
  backdrop-filter: blur(6px);
  z-index: 1;
  @include tablet {
    padding: 8px ($padding-p-h * 4);
  }
  @include raptop {
    padding: 8px $padding-p-h 8px ($padding-p-h * 7);
  }
  @include dark {
    background-color: rgba(#292929, 0.6);
  }
}
.logo {
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.07em;
  color: $text_color;
  @include dark {
    color: #fcfcfc;
  }
}
