.main {
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
  padding: 32px $padding-p-h;
  background-color: #fcfcfc;
  @include tablet {
    padding: 32px ($padding-p-h * 4);
  }
  @include desktop {
    width: 65%;
  }
  @include raptop {
    padding: 32px ($padding-p-h * 3) 32px ($padding-p-h * 7);
  }
  @include dark {
    background-color: #292929;
  }
}
