.side {
  display: none;
  padding: 32px $padding-p-h;
  background-color: $background-color;
  @include desktop {
    display: block;
    width: 35%;
  }
  @include dark {
    background-color: #333;
  }
}
